
<app-header [userImg]="userProfilePNG" />

<ng-container *ngIf="bannerDetail$ | async as detail">
  <app-banner 
    [bannerTitle]="detail?.original_title || detail?.title" 
    [bannerOverview]="detail?.overview"
    [key]="(bannerVideo$ | async)?.results[0]?.key" />
</ng-container>

<!-- Added IDs to match your navList items -->
<app-movie-carousel id="Popular on Netflix" *ngIf="movies.length" [title]="'Popular on Netflix'" [videoContents]="movies" />
<app-movie-carousel id="TV Shows" *ngIf="tvShows.length" [title]="'Trending TV shows'" [videoContents]="tvShows" />
<app-movie-carousel id="Now Playing" *ngIf="nowPlayingMovies.length" [title]="'Now Playing'" [videoContents]="nowPlayingMovies" />
<app-movie-carousel id="Popular Movies" *ngIf="popularMovies.length" [title]="'Popular Movies'" [videoContents]="popularMovies" />
<app-movie-carousel id="Top Rated" *ngIf="topRatedMovies.length" [title]="'Top Rated'" [videoContents]="topRatedMovies" />
<app-movie-carousel id="Upcoming Movies" *ngIf="upcomingMovies.length" [title]="'Upcoming Movies'" [videoContents]="upcomingMovies" />
